data/raw/database/** filter=lfs diff=lfs merge=lfs -text
data/raw/*.json filter=lfs diff=lfs merge=lfs -text
data/manual_translations/label_studio_2000_samples.json filter=lfs diff=lfs merge=lfs -text
data/manual_translations/vispider_embeddings.json filter=lfs diff=lfs merge=lfs -text
data/raw/test_database/** filter=lfs diff=lfs merge=lfs -text
